.titulo{
   margin: 10px;
   padding: 10px;
   margin-left: 350px;
}
.col-1{
    
    background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
	margin-bottom: red;

}
.col-2{
    
   background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
}
.col-3{
    
   background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
}
.col-4{
    
    background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
}
.col-5{
    
     background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
}
.col-6{
    
    background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
}
.col-7{
    
     background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
}
.col-8{
    
     background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
}
.col-9{
    
     background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
}
.col-10{
    
     background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
}
.col-11{
    
     background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
}
.col-12{
    
     background-color: #87CEFA;
    border:1px;
	margin-bottom: 1px;
	padding: 1px;
	float:left;
}
/*.col-12{
    
    background-color: #87CEFA;
    border:1px;
	margin-height:7px;
	margin-bottom: 3px;
	padding: 1px;
	float:left;
	*/